<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Analytica</title>
  <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
  <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
  <link href='https://fonts.googleapis.com/css?family=Lobster|Open+Sans:400,400italic,300italic,300|Raleway:300,400,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/animate.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/clean-blog.min.css" >
  <link rel="stylesheet" type="text/css" href="css/clean-blog.css" >
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/searchFieldAndTables.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/wow.js"></script>
  <script src="js/custom.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/loggedInCSS.css">
</head>

<style>

</style>

<script>


var modal = document.getElementById('registerButtonID');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

</script>



<body>
  <div id = "logo" class="logo text-center">
     <img src="img/logo.png" alt="logo" width="150">
   </div>
   <!-- Don't touch this div -->
    <div ng-app="myApp" ng-controller="customersCtrl">
       <!-- Don't touch this div -->
   <div class="content">
    <div class="container">
      <div class="row">

        <div id = "nav">
          <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul id= "homepageMenu" class="navbar-nav ml-auto">
                  <li class="nav-item" ng-click="Home_func()">
                    <a class="nav-link menuLink" >Home</a>
                  </li>
                  <li class="nav-item" ng-click="TambourUnit_func()">
                    <a class="nav-link menuLink">Tambour</a>
                  </li>
                  <li class="nav-item" ng-click="DoorKey_func()">
                    <a class="nav-link menuLink">&nbsp; Door</a>
                  </li>
                  <li class="nav-item" ng-click="MasterKeys_func()">
                    <a class="nav-link menuLink">Master</a>
                  </li>
                  <li class="nav-item" ng-click="Pedestal_func()">
                    <a class="nav-link menuLink" >Pedestal</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link menuLink" > &nbsp; &nbsp;  Fob</a>
                  </li>
                  <li class="nav-item" ng-click="UnkownKeys_func()">
                    <a class="nav-link menuLink" >Unknown</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link menuLink" href="/logout">&nbsp;Logout</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>

          </div>

          <form class ="Search">
            <input class ="input" type="search" ng-model="searchText">
            <i class="fa fa-search"></i>
          </form>


      <table class="table table-stripped table-dark">
    <thead>

      <tr>
        <th scope="col">ID</th>
        <th scope="col">Key Type</th>
        <th scope="col">Allocated To</th>
        <th scope="col">Location</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in results|filter:searchText">
          <td> {{x.key}}</td>
          <td>{{x.keyType}}</td>
          <td> {{x.allocatedTo}}</td>
          <td>{{x.location}}</td>
       </tr>
    </tbody>
  </table>
</div>
    </div>
  </div>

</div>



</body>

</html>
