<!DOCTYPE html>
<html>
    <head>
      <title>Search</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <script>

    </script>



    <body>
        <div class="topnav">
            <input type="text" id = "searchField" placeholder="Search....">
        </div>
        <div class="container">
    <table class="table table-bordered">
      <thead>
          <tr>
            <th>KEY #</th>
            <th>KEY TYPE</th>
            <th>ALLOCATED TO</th>
            <th>LOCATION</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
          </tr>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
          </tr>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
          </tr>
        </tbody>
        </table>
      </div>

      </body>

      <style>
          .topnav {
              overflow: hidden;
              background-color: grey;
              width:20%;
              margin-left: 30%;
              margin-top: 50px;
          }
          .topnav input[type=text] {
              float: right;
              padding: 6px;
              border: none;
              margin-top: 8px;
              margin-right: 16px;
              font-size: 17px;
          }
          .container{
              margin-top: 100px;
          }
        </style>
</html>
